# --- Server Configuration ---
PORT=3000
NODE_ENV=development

# Relative to Server/ folder
MAP_STORAGE_PATH=../App-Data/map-files

# --- PostgreSQL Configuration ---
# Standard variables used by the 'pg' driver
PGUSER=postgres
PGHOST=localhost
PGDATABASE=sloppy_sloths
PGPASSWORD=your_password
PGPORT=5432

# Note: 'npm run test:integration' will automatically override 
# PGDATABASE to 'sloppy_sloths_test' for safety.
